<div class="container" ">
  <h2>Samuel L. Jackson Presents:</h2>
  <h1>Guess Muthafucka!!?!</h1>

  <div class="content_box">
    <ul>
      <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>/card/<%= deck.cards.first.id %>"><%= deck.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

  