<div class="container" ">
  <h2>Samuel L. Jackson Presents:</h2>
  <h1>Guess Muthafucka!!?!</h1>

<% if current_user %>
  <audio src="http://www.soundboard.com/mediafiles/158-39b8d259-1f60-42c6-866c-b24d52ee50a3.mp3" autoplay></audio>
  <div class="content_box">
    <ul>
      <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>/card/<%= deck.cards.first.id %>"><%= deck.name %></a></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h3>Please sign in to play</h3>
<% end %>
</div>
