<div class="container" ">
  <h2>Samuel L. Jackson Presents:</h2>
  <h1>Guess Muthafucka!!?!</h1>


<% if current_user %>
  <div class="content_box">
    <ul>
      <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>/card/<%= deck.cards.first.id %>"><%= deck.name %></a></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h3>Please sign in to play</h3>
<% end %>
</div>

  
