<div class="container" ">
  <div class="content_box" style="text-align: center">
  <h2>Samuel L. Jackson Presents:</h2>
  <h1>Guess Muthafucka!!?!</h1>
  <audio src="http://www.soundboard.com/mediafiles/158-39b8d259-1f60-42c6-866c-b24d52ee50a3.mp3" autoplay></audio>

<% if current_user %>
    <ul>
      <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>/card/<%= deck.cards.first.id %>/correct/first/round/first"><%= deck.name %></a></li>
      <% end %>
    </ul>
<% else %>
  <h3>Please sign in or <a href="/register">sign up</a> to play</h3>
<% end %>
  </div>
</div>
