<div class="wrapper">
  <div class="not-left"> 

  <% user = User.find(session[:user_id]) if session[:user_id] %>

  <%= CssHelper.authentication(user) %>

  <!-- write a helper method to replace display instance variable -->
  <%= erb @display.to_sym %>

  
  </div>

  <% links = [] %>

  <%= CssHelper.nav_bar("Guess Muthafucka!", links) %>
</div>










